@include aoa-bg-series($section__classes,$section__images);

.comingsoon,.error,.privacy{
    &-s1{
        background-blend-mode: multiply;
    }
}
.about,.contact,.menu{
    &-s3{
        background-color: #999!important;
        background-blend-mode: multiply!important;
    }
}
.text-shadow{
    text-shadow: $text-shadow;
}
.user{
    &-s1{
        background-position: right!important;
    }
}
header{
    z-index: 10;
}

@media all and (max-width: 767px){
    .about{
        &-s1,&-s2{
            *{
                color: #fff !important;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
            text-shadow: $text-shadow;
        }
        &-s1{
            background-position: left!important;
        }
        &-s2{
            background-position: right!important;
        }
    }
    .contact{
        &-s1,&-s2{
            *{
                color: #fff !important;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
            text-shadow: $text-shadow;
        }
        &-s1{
            background-position: right!important;
        }
        &-s2{
            background-position: left!important;
        }
    }
    .gallery{
        &-s1,&-s2{
            *{
                color: #fff !important;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
            text-shadow: $text-shadow;
        }
        &-s1{
            background-position: right!important;
        }
    }
    .index{
        &-s1{
            *{
                color: #fff !important;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
            text-shadow: $text-shadow;
            background-position: right!important;
        }
    }
    .navbar{
        &-nav{
            *:hover{
                opacity: 0.8;
            }
            background-color: #999!important;
            border: 1px solid #666!important;
            color: #333!important;
            padding: 10px;
        }
    }
    .menu{
        &-s1,&-s3{
            *{
                color: #fff !important;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
            background-position: right!important;
            text-shadow: $text-shadow;
        }
        &-s1{
            background-position: right!important;
        }
    }
}